<h6 class="text-center">PHI details</h6>
<label>Search</label>
<input type="text" [(ngModel)]="term">
<table class="table table-sm table-hover" >
 <tr>
    <th>Investigation Name</th>
    <th>Start Date</th>
    <th>Assigned PHI</th>
    <th>Phone Number</th>
  
  </tr>
    <tr *ngFor="let investigation of investigationList " (click)="onEdit(User)">
       
        <td>{{investigation.name}}</td>
        <td>{{investigation.start_date.day}}/{{investigation.start_date.month}}/{{investigation.start_date.year}}</td>
      <td>{{investigation.assigned_PHI}}</td>
      <td>{{investigation.status}}</td>
     
      <td>
        <a class="btn" (click)="onEdit(User)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(User.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
        </td>
    </tr>
</table>
<div class="text-center">
  <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
  </div>