<div class="card ilumi">
  <div class="card-header">
  <i class="fa fa-align-justify"></i> Combined All Table</div>
  <div class="card-body">
  <table datatable class="table table-responsive-sm table-bordered table-striped table-sm">
  <thead>
  <tr >
  <th>name</th>
  <th>Assigned PHI</th>
  <th>Discription</th>
  <th>Status</th>
  <th><button _ngcontent-c13="" aria-pressed="true" (click)="newInvestigation()" class="btn btn-block btn-ghost-secondary active" type="button">New Investigation</button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let site of investigationList">
  <td>{{site.name}}</td>
  <td>{{site.assigned_PHI}}</td>
  <td>{{site.description}}</td>
  <td>
  <span  class="badge badge-success"> {{site.status}} Active</span>
  </td>
  <td><button class="btn btn-square btn-block btn-dark" (click)=viewRoute(site)> View Route</button></td>

  </tr>



  </tbody>
  </table>
  </div>
  </div>
  <ngx-smart-modal #myModal identifier="myModal" [dismissable]=false>
    <manage_investigation></manage_investigation>
  </ngx-smart-modal>
  <!-- <ngx-smart-modal #route identifier="route" [dismissable]=false>
    <app-investigation-routes></app-investigation-routes >
  </ngx-smart-modal> -->
