<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top image" [src]="user.image" alt="Card image cap">
        <div *ngIf='user.provider != "password"'class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text">This is an example of Social Authentication using Firebase in an Angular 5 web app. </p>
        </div>
        <div *ngIf='user.provider == "password"'class="card-body">
          <form [formGroup]="profileForm">
            <div class="form-group">
              <label>Your name</label>
              <input type="text" formControlName="name" class="form-control" required>
            </div>
          </form>
          <a (click)="save(profileForm.value)" class="btn btn-primary">Save</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
    </div>
  </div>
</div> -->
<div class="row">
<div class="col-md-12 col-md-offset-12">
  <app-navigation></app-navigation>
</div>
</div>
<!-- <div class="row">
<div class="col-md-4 col-md-offset-4">

</div>
<div class="col-md-8 col-md-offset-8">
</div>
</div> -->
<div class="row">
   

  <div class="col-md-12 col-md-offset-12">
    <dashbord *ngIf="mainUIService.fullContainer == FullPanelComponentEnum.DASHBORD || mainUIService.fullContainer == -1" ></dashbord>
    <app-investigation-sites-list *ngIf="mainUIService.fullContainer == FullPanelComponentEnum.INVESTIGATION"></app-investigation-sites-list>
    <app-investigation-routes *ngIf="mainUIService.fullContainer == FullPanelComponentEnum.INVESTIGATION_ROUTE"></app-investigation-routes>
    <manage-users *ngIf="mainUIService.fullContainer == FullPanelComponentEnum.MANAGE_PHIS"></manage-users>
    <app-kanban *ngIf="mainUIService.fullContainer == FullPanelComponentEnum.INVESTIGATION_BOARD"></app-kanban>
    <manage-investigations *ngIf="mainUIService.fullContainer == FullPanelComponentEnum.NEW_INVESTIGATION"></manage-investigations>
    <manage-areas *ngIf="mainUIService.fullContainer == FullPanelComponentEnum.AREAS"></manage-areas>
    <app-risk-map *ngIf="mainUIService.fullContainer == FullPanelComponentEnum.RISK_MAP"></app-risk-map>
  </div>

  </div>
