<div class="container">
<div class="row">
    <div class="col-sm-6 col-lg-4">
        <br>
        <br>
      <div class="card text-white bg-info ">
        <div class="card-body pb-0"> 
          <div class="txt-value">{{NoOfAreas}}</div>
          <div class="txt">No Of Saved Areas</div>
        </div>

      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-4">
        <br>
        <br>
      <div class="card text-white bg-info ">
        <div class="card-body pb-0">
  
          <div class="txt-value">{{NoOfInvestigations}}</div>
          <div class="txt">No Of Investigations</div>
        </div>

      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-4">
        <br>
        <br>
      <div class="card text-white bg-warning ">
        <div class="card-body pb-0">
  
          <div class="txt-value">10</div>
          <div class="txt">No Of Dengue Privileged Areas</div>
        </div>
   
      </div>
    </div>
  </div>
  </div>

 