<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.$key">
        <input *ngIf="manageInvestigationService.selectedUser.$key != null" type="hidden" name="area_gpx_name" area_gpx_name="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.area_gpx_name">
    <div class="form-group">
      <!-- Areas need to load dynamically -->
    <label>Investigation Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.name" placeholder="Name" required>
  </div> 
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>Starting Date</label>
        <!-- <ng-datepicker [(ngModel)]="date"></ng-datepicker> -->
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="start_date"  [(ngModel)]="manageInvestigationService.selectedUser.start_date" ngbDatepicker
            #start_date="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="start_date.toggle()" type="button"></button>
          </div>
        </div>
        <!-- <input class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.LastName" placeholder="Last Name" required> -->
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label>Finishing Date</label>
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="end_date" [(ngModel)]="manageInvestigationService.selectedUser.end_date" ngbDatepicker
              #end_date="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="end_date.toggle()" type="button"></button>
            </div>
        </div>

        <!-- <input class="form-control" name="LastName" #LastName="ngModel"
          [(ngModel)]="manageInvestigationService.selectedUser.LastName" placeholder="Last Name" required> -->
      </div>
    </div>
  </div>
    <div class="form-group">
        <label>Area</label>
            <select class="form-control" name="area" #area="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.area" (click)="setAreaGpxName(area)"  id="exampleFormControlSelect1">
              <option></option>
              <option *ngFor="let area of areaList" >{{area.AreaName}}</option>
            </select>
          
        <!-- <input class="form-control" name="Email" type="email" ng-model [email]="true" #Email="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.Email" placeholder="Email" required> -->
    </div>

    <div class="row">
        <div class="col-6">
    <div class="form-group">
        <label>Assign To</label>
        <select class="form-control" name="assigned_PHI" #assigned_PHI="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.assigned_PHI" >
          <option value="not-Assigned">unAssigned</option> 
          <option *ngFor="let phi of phiList" [value]="phi.FirstName">{{phi.FirstName}}</option>
          </select>
        <!-- <input class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.PhoneNumber"  pattern="^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$" required> -->
    </div> 

  </div>
  <div class="col-6">
      <div class="form-group">
          <label>Status</label>
          <select class="form-control" name="status" #status="ngModel" (change)="test()" [(ngModel)]="manageInvestigationService.selectedUser.status" >
            <option [value]="InvestigationStatus.TODO">To do</option>
            <option [value]="InvestigationStatus.IN_PROGRASS">In Prograss</option>
            <option [value]="InvestigationStatus.DONE">Done</option>
            <option [value]="InvestigationStatus.REJECTED">Rejected</option>
            <option [value]="InvestigationStatus.ON_HOLD">On Hold</option>
            </select>
          <!-- <input class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.PhoneNumber"  pattern="^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$" required> -->
      </div> 
  </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.description"  rows="3"></textarea>
        <!-- <input class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="manageInvestigationService.selectedUser.PhoneNumber"  pattern="^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$" required> -->
    </div> 
    <div class="form-group">
        <button class="btn btn-default" type="button" (click)="Map()"><ng-container *ngIf="mapService.isMapShowOnAreaInv == false">Destination Mark</ng-container><ng-container *ngIf="mapService.isMapShowOnArea == true"></ng-container></button>
        <ng-container *ngIf="mapService.isMapShowOnAreaInv == true">
            <div id="map"></div>
            <!-- <div class='pointer'><< Click search button</div> -->
            <!-- <a href="#" download="MyTracks.gpx" id="exportGPX">Export to file</a> -->
        </ng-container>
    </div>

    <div class="form-group">
      <button class="btn btn-default" type="submit" *ngIf="manageInvestigationService.selectedUser.$key == null" [disabled]="!userForm.valid">Submit</button>
      <button class="btn btn-default" type="submit" *ngIf="manageInvestigationService.selectedUser.$key != null" [disabled]="!userForm.valid">Update</button>
      <button class="btn btn-default" type="button" *ngIf="manageInvestigationService.selectedUser.$key == null" (click)="resetForm(userForm)">
        <i class="fa fa-repeat"></i>
        Reset</button>
        <!-- <button class="btn btn-default" (click)="backToInvestigationSites()" type="button" >Back</button> -->
    </div>
</form>
