<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">

        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="projectService.selectedUser.$key">
    <div class="form-group">
    <label> Ticket Name</label>
    <input class="form-control" name="ticketName" #FirstName="ngModel" [(ngModel)]="projectService.selectedUser.ticketName" placeholder="Project Name" required>
  </div> 
  <div class="form-group">
      <label>Owner Name</label>
      <input class="form-control" name="ticketOwner" #LastName="ngModel" [(ngModel)]="projectService.selectedUser.ticketOwner" placeholder="Project Owner" required>
    </div> 
    <div class="form-group">
      <label>Create Date</label>
      <input class="form-control" name="createDate" [(ngModel)]="projectService.selectedUser.createDate" placeholder="Create Date" required>
    </div> 
    <div class="form-group">
      <label>Discription</label>
      <input class="form-control" name="discription"  [(ngModel)]="projectService.selectedUser.discription" placeholder="Discription" required>
    </div> 
    <div class="form-group">
      <label>Destination Latitude</label>
      <input class="form-control" name="latitude"  [(ngModel)]="projectService.selectedUser.latitude" placeholder="Latitude" required>
    </div> 
    <div class="form-group">
      <label>Destination Longtitude</label>
      <input class="form-control" name="longtitude"  [(ngModel)]="projectService.selectedUser.longtitude" placeholder="Longtitude" required>
    </div> 


    <!-- <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="Email" type="email" ng-model [email]="true" #Email="ngModel" [(ngModel)]="projectService.selectedUser.Email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label>Phone number</label>
        <input class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="projectService.selectedUser.PhoneNumber"  pattern="^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$" required>
    </div>  -->
    <div class="form-group">
      <button class="btn btn-default" type="submit" [disabled]="!projectForm.valid">Submit</button>
      <button class="btn btn-default" type="button" (click)="resetForm(projectForm)">
        <i class="fa fa-repeat"></i>
        Reset</button>
        
      <button class="btn btn-default" type="button" (click)="backToProjectView()">Back </button>
    </div>

</form>